.App {
  text-align: center;
}

.navContainer {
  display: flex; 
  flex-direction: row;  
  border-bottom: solid 2px blue;
  padding: 5px 0px;
}

.catContainer {
  display: flex; 
  flex-direction: row;
  gap: 5px;
  margin-left: 5px;
  width: 60%;
}

.catBox {
  display: flex;
  flex-direction: column;
  gap:0px;
  width: 55px;
  border: solid 1px;
  border-radius: 5px;
}

.catImg {
  height: 40px;
}

.catButtonName {
  margin: 0px;
  padding: 0px;
  font-size: 11px;
}

.userContainer {
  display: flex; 
  flex-direction: column;
  width: 40%;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
}

.productCard {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.productImg {
  width: 180px;
}

.ProductName {
  color: blue;
}

.ProductPrice {
  background-color: aqua;
  align-self: end;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ProductDesc {
  color: blue;
  min-height: 60px;
}
.productPack {
  align-self: end;
}
.productDiscount {
  align-self: end;
}


